@using IdleGame.Domain
@using System.Linq
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>Idle Game</h1>

@if (Game.IsDoneLoading)
{
    <ResourcesDisplay Resources="@Game.Resources" GetConsumption="@Game.Producers.GetConsumption" GetProduction="@Game.Producers.GetProduction" />

    <div>
        <ClickerButton Clicker="@Game.Producers.Get("WoodClicker")" Resources="@Game.Resources" />
        <ClickerButton Clicker="@Game.Producers.Get("StoneClicker")" Resources="@Game.Resources" />
        <ClickerButton Clicker="@Game.Producers.Get("FoodClicker")" Resources="@Game.Resources" />
    </div>

    <h4>Clicker Upgrades</h4>
    <p>Increases the amount of resources received per click.</p>
    <div>
        <UpgradeDisplay Producer="@Game.Producers.Get("WoodClicker")" Resources="@Game.Resources" />
        <UpgradeDisplay Producer="@Game.Producers.Get("StoneClicker")" Resources="@Game.Resources" />
        <UpgradeDisplay Producer="@Game.Producers.Get("FoodClicker")" Resources="@Game.Resources" />
    </div>

    <h4>Purchase Collectors</h4>
    <p>Collectors will collect 1 resource per second automatically. Each non-food collector consumes 1 food per second.</p>
    <div>
        <UpgradeDisplay Producer="@Game.Producers.Get("WoodCollector")" Resources="@Game.Resources" />
        <UpgradeDisplay Producer="@Game.Producers.Get("StoneCollector")" Resources="@Game.Resources" />
        <UpgradeDisplay Producer="@Game.Producers.Get("FoodCollector")" Resources="@Game.Resources" />
    </div>

    <h4>Upgrade Collectors</h4>
    <p>Purchase upgrades that increase the efficiency of each collector.</p>
    <div>
        <MultiplierUpgradeButton Producer="@Game.Producers.Get("WoodCollector")" />
        <MultiplierUpgradeButton Producer="@Game.Producers.Get("StoneCollector")" />
        <MultiplierUpgradeButton Producer="@Game.Producers.Get("FoodCollector")" />
    </div>

    <h4>Technologies</h4>
    <p>Technologies are upgrades that may apply to one or more clickers or collectors.</p>
    <div>
        <TechnologyUpgrade Game="@Game" Technology="@Game.Technologies.Get("Basic Education")" /> 
    </div>
}

@code {
    [Parameter]
    public Game Game { get; set; }
}