@using IdleGame.Domain
<div>
    <button class="btn btn-primary" @onclick="@(OnClick)" disabled="@(IsDisabled)">Buy @(Producer.ResourceName) @(TypeName) +@(Producer.Quantity)</button>
    Wood: @(Producer.GetUpgradeCosts()["Wood"]) Stone: @(Producer.GetUpgradeCosts()["Stone"])
</div>

@code {

    [Parameter]
    public Resources Resources { get; set; }

    [Parameter]
    public IResourceProducer Producer { get; set; }

    [Parameter]
    public TimeSpan? RefreshRate { get; set; }

    private string TypeName;
    private bool IsDisabled;
    private Timer StateHasChangedTimer;

    protected override Task OnInitializedAsync()
    {
        TypeName = Producer.GetType() == typeof(Clicker) ? "Clicker" : "Collector";
        StateHasChangedTimer = new Timer(StateHasChangedTimerCallback, null, TimeSpan.Zero, RefreshRate ?? TimeSpan.FromMilliseconds(100));
        return base.OnInitializedAsync();
    }
    private void StateHasChangedTimerCallback(object? state)
    {
        IsDisabled = Producer.CanAffordUpgradeCosts(Resources) == false;
        StateHasChanged();
    }
    private void OnClick(MouseEventArgs e)
    {
        var upgradeCount = e.CtrlKey ? 100
            : e.ShiftKey ? 10
            : 1;

        for (var i = 0; i < upgradeCount; i++)
        {
            var wasUpgraded = Producer.Upgrade(Resources);
            if (wasUpgraded == false) { break; }
        }
    }
}
